@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,200,300,400,500,600,700|Open+Sans:100,200,300,400,500,600,700|&display=swap');

/*----------------------------------------------------------------------footer*/

footer {
    max-height: 60px;
    margin-top: 10px;
    padding: 20px 10px 20px 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #000;
}

.footer {
    bottom: 0;
    width: 100%;
}

.copyright {
    text-align: right;
}

/*---------------------------------------------------------------------section*/

section {
    min-height: calc(100vh - 220px);
}

.pin {
    text-align: center;
}

/*------------------------------------------------------------------------maps*/
#eu-map {
    min-height: 360px;
}

#na-map {
    min-height: 360px;
}

